.albums {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    font-size: 30px;
}

.albums a:active,
.albums a:link,
.albums a:visited {
    color: black;
}

.albums>li {
    transition: 0.3s;
}

.albums>li:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.pictures {
    padding: 3%;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pictures>button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.pictures>button>* {
    flex: 1;
}

.pictures>img {
    max-height: 400px;
    max-width: 400px;
    flex: 1;
    object-fit: contain;
}