
.postsContainer{
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.selectedPost{
  background-color: rgba(149, 189, 253, 0.309);
}

.post{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding:5px;
  border-radius: 10px;
  transition: 0.3s;
}

.post:hover{
  background-color:rgba(149, 189, 253, 0.309) ;
  font-size:larger;
}
.postP{
  width: 50ch;
  display: inline-block;
  text-align: start;
  margin-top:7px;
}

.postHeader{
  width:50ch;
}

.commentsButton{
  align-self: center;
  margin-top:7px;
}

.commentsContainer{
  display: flex;
  flex-direction: column;
  
}

.comment{
  border-bottom: 1px solid black;
  margin:5px;
}

.commentP{
  width:50ch;
  text-align: start;
}

.postTitle{
  font-family: Montserrat;
  font-size: 45px;
}